:root {
    /* colors */
    --main-color: #f5c017;
    --secondary-color: #181818;
}

body {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color);
}

.settings {
    top: 20px;
    left: 20px;
    position: absolute;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.3);

    & input {
        &:first-child {
            margin-top: 30px;
        }
        margin: 5px 0 5px 0;
        outline: none;
        border: none;
        padding: 5px;
    }
}

.container {
    width: 40vw;
    height: 45vw;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.watchBandPerfiler {
    position: absolute;
    background-color: var(--secondary-color);
    width: 18.2vw;
    height: 4vw;
    top: -7vw;
    border-radius: 2vw;
    box-shadow: inset 0 0 1vw 0.5vw rgba(0, 0, 0, 0.5);
}

.watchBandContainer {
    position: absolute;
    width: 29vw;
    height: 11vw;
    background-color: var(--secondary-color);
    top: -5vw;
    overflow: hidden;

    & div {
        position: absolute;
        background-color: var(--secondary-color);
        box-shadow: 0 0 1vw 0.5vw rgba(0, 0, 0, 0.5);
    }

    & div:first-child {
        z-index: 1;
        width: 30vw;
        height: 30vw;
        left: -24.7vw;
        top: -16vw;
        border-radius: 12vw;
    }
    & div:nth-child(2) {
        position: absolute;
        background-color: var(--secondary-color);
        width: 30vw;
        left: 0vw;
        top: 0vw;
        height: 30vw;
    }
    & div:last-child {
        z-index: 1;
        width: 30vw;
        height: 30vw;
        right: -24.7vw;
        top: -16vw;
        border-radius: 12vw;
    }
}

.watchBandPerfilerDown {
    top: 48.2vw;
    width: 18.4vw;
    left: 10.8vw;
    z-index: -1;
    transform: rotate(180deg);
}
.watchBandContainerDown {
    top: 39vw;
    z-index: -1;
    transform: rotate(180deg);
}

.appleWatch {
    width: 31.5vw;
    height: 37vw;
    position: relative;
    z-index: 2;

    &:before {
        content: "";
        position: relative;
        background-color: rgba(255, 255, 255, 0.3);
        filter: blur(0.1vw);
        border-radius: 10vw;
        width: 24vw;
        height: 3vw;
        top: 0.6vw;
        left: 3.8vw;
    }

    & .screenContent {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        border-radius: 7vw;
        background-color: #000000;
        box-shadow: inset 0 0 0.1vw 0.3vw rgba(218, 218, 218, 1), inset 0 0 0.3vw 0.5vw rgba(218, 218, 218, 1),
            inset 0 0 0.2vw 0.9vw rgba(0, 0, 0, 0.9), inset 0 0 0 1.4vw rgba(218, 218, 218, 1),
            inset 0 0 0 1.7vw rgba(0, 0, 0, 1), inset 0 0 1.5vw 2.5vw rgb(66, 66, 66);

        & .screenImage {
            position: absolute;
            top: 20%;
            left: 15%;
            width: 70%;
            height: 60%;
        }

        &::before {
            content: "";
            border-radius: 10vw;
            width: 6vw;
            height: 6vw;
            position: absolute;
            top: 9vw;
            right: -5vw;
            background: linear-gradient(to right, black 10%, var(--secondary-color 10%));
        }
    }

    & .roundControllerShape {
        position: absolute;
        overflow: hidden;
        top: 9.5vw;
        right: -1.2vw;
        width: 1.8vw;
        height: 4.8vw;
        border-top-left-radius: 1vw;
        border-bottom-left-radius: 1vw;
        border-top-right-radius: 1vw;
        border-bottom-right-radius: 1vw;
        background-color: var(--secondary-color);
    }

    & .roundController {
        position: absolute;
        overflow: hidden;
        width: 2vw;
        height: 5.2vw;
        border-top-left-radius: 0.7vw;
        border-bottom-left-radius: 0.7vw;
        background: linear-gradient(to bottom, rgb(170, 170, 170), white);
        box-shadow: inset 0 0.1vw 0.2vw 0 rgba(0, 0, 0, 0.8), inset 0 0.3vw 0.2vw 0 rgba(218, 218, 218, 1),
            inset 0 0.6vw 0.2vw 0 rgba(255, 255, 255, 1), inset 0 1.3vw 0 0 rgba(0, 0, 0, 0.8),
            inset 0 -0.1vw 0.2vw 0 rgba(0, 0, 0, 0.8), inset 0 -0.3vw 0.2vw 0 rgba(218, 218, 218, 1),
            inset 0 -0.6vw 0.2vw 0 rgba(255, 255, 255, 1), inset 0 -1.3vw 0 0 rgba(0, 0, 0, 0.8);

        & i {
            position: absolute;
            width: 0.75vw;
            height: 0.17vw;
            right: 0;
            background-color: rgba(128, 128, 128, 1);
        }

        @for $i from 1 through 20 {
            & :nth-child(#{$i}) {
                transform: translate(0, #{$i/3}vw);
            }
        }
    }
}
